* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar {
    background-color: lightgray;
    color: white;
    justify-content: space-around ;
    height: 64px;
    margin: 0;
    position: fixed;
    width: 100%;
}
.nav-list{
    list-style-type: none;
    float: right;
    margin-right: 20px;
}
.nav-list .list-item {
    display: inline-block;
    padding: 20px 10px;
}
.navbar a {
color: white;
text-decoration: none;
}
.navbar a:hover {
    color: grey;
}
.navbar img {
    float: left;
}

.first-section {
    background-color: rgb(43, 51, 64);
    display: flex;
    height: 560px;
    padding-top: 2em;
    overflow: hidden;
}
.first-section img {
    width: 130%;
}
.first-section-text {
    margin-left: 5em;
}
.first-section-text h1 {
    text-transform: uppercase;
    color: white;
    width: 50%;
    margin:2em 5em;
}
.first-section-text p {
    color: rgb(120, 120, 120);
    width: 50%;
    margin-left: 15em;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif; 
}
#Start-here {
    margin-left: 12em;
}
.second-section {
    background-color: rgb(170, 196, 91);
    margin-top: 2em;
    display: flex;
}
.second-section img {
    width: 100%;
}
.second-section h1 {
    text-transform: uppercase;
    color: white;
    width: 100%;
    margin-top: 5rem;
}

.second-section-text{
    color: rgb(120, 120, 120);
    width: 100%;
    font-size: small;
    padding-left: 2em;
    font-family: Arial, Helvetica, sans-serif;

}
.second-section p {
    color: white;
    width: 100%;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif; 
}

.sub-img-class {
    width: 100%;
}
.subsection-text {
    background-color: rgb(15, 2, 2);

}

/* #card-display {
    width: 80%;
    background-color: rgb(212, 212, 212);
    margin: auto;
    padding-top: 2em;
    text-align: center;
    justify-items: center;
}

.card-content {
    width: 22%;
    background-color: rgb(212, 212, 212);
    margin: auto;
    padding-top: 2em;
  
} */
.start-learning {
    background-color: rgb(225, 225, 225);
    width: 80%;
    margin: 20px auto;
}
.start-learning h1 {
    text-align: center;
    color: white ;
    padding: 50px 0;
}
.container-sec {
    background-color: azure;
    
}
@media screen and (min-width: 480px) {
    html{
        width: 100%;
    }
  
.card:hover {
    background-color: rgb(195, 201, 201);
    transform: scale(1.1);

}

.Reimagine {
    text-align: center;
    font-size: xx-large;
    
}